/**
 * Created by aubret on 18/12/17.
 */
.arrow_button {
    background-color: #aaaaaa;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 3px;
    border-radius: 5px;
    border: solid white;
}

a.fill_div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 45px;
    line-height: 50px;
}

#stap {
    display:inline-block;
    text-align:right;
}

.links .a {

}
