svg {
    font: 10px sans-serif;
    background: white;
    display:block;
    margin:0 auto;
}
.chart rect {
    stroke: white;
}
rect.section {
    cursor: ns-resize;
}
.line {
    fill:none;
    stroke:#000;
    stroke-width:1.5px;
}
.axis path, .axis line {
    fill:none;
    stroke:silver;
    shape-rendering: crispEdges;
}
.axis path {
    display: none;
}
.grid {
    fill:none;
    stroke-width:0.5px;
    stroke:#000;
    opacity:0.2;
}
.ratio {
    fill:#f2c180;
    color:#f2c180;
}
.fsratio {
    fill:#f3a53d;
    color:#f3a53d;
}
.students {
    fill:#5cadf0;
    color:#5cadf0;
}
.faculty {
    fill:steelblue;
    color:steelblue;
}
#wrap {
    width:910px;
    margin:0 auto;
}
div.my_tooltip {
    color: #222;
    background-color: #EEE;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
    width: 150px;
    height: auto;
}
div.my_hidden {
    display: none;
}