<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cherry</title>
    <!--<link rel="stylesheet" href="bootswatch/dist/cerulean/_bootswatch.scss">
    <link rel="stylesheet" href="bootswatch/dist/cerulean/_variables.scss">-->
    <link rel="stylesheet" href="bootswatch/dist/journal/bootstrap.css">
    <!--<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css">-->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="scheduler.css">
</head>
<body class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Cherry</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="home">Accueil</a>
                </li>
                <% if (name != undefined){%>
                    <li class="nav-item">
                        <a class="nav-link" href="video">Video</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="gestion">Gestion<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="photos">Photos</a>
                    </li>
                <% } %>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/home" method="POST">
                <% if(name != undefined){ %>
                    <div style="color:white ; margin-right : 10px; "><%= name %></div>
                <% } %>
                <input class="form-control mr-sm-2" type="text" name="connect">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Se connecter</button>
            </form>
        </div>
    </nav>
<div class="row" style="margin:0">
    <div class="col-md-6">
        <div class="row" style="width : 100%">
            <table class="table table-striped table-hover table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Nom</th>
                    <th>Mode</th>
                    <th>IP</th>
                    <th>Statut</th>
                </tr>
                </thead>
                <tbody>
                <%
                count = 0
                _.each(ips, function(on,dev){%>
                    <tr class="table-danger">
                        <td><%= dev %></td>
                        <% if(on.ipmotor != undefined ){%>
                            <td class="btn btn-primary" style="width:100%; color:black ;" id="mode" device=<%= dev %> mode=<%= on.ipmotor.mode%>>
                                <%= on.ipmotor.mode %>
                            </td>
                        <%}%>
                        <td><%= on.ip %></td>
                        <td class="btn btn-primary" style="width:100%; height : 100% ; color:black ;" ip=<%=on.ip %> id="onoff" device=<%= dev %> onOff=<%= on.light%> >
                            <% if(on.light == true ){%>
                                Eteindre<%
                            }else{ %>
                                Allumer<%
                            }%>
                        </td>

                    </tr><%
                    count++
                })
                %>
                </tbody>
            </table>
        </div>

        <div class="row">
            <form class="form-inline my-2 my-lg-0" action="gestion" method="POST">
                <input class="form-control mr-sm-2" type="text" placeholder="Nom" name="name">
                <input class="form-control mr-sm-2" type="text" placeholder="Adresse photo" name="ip">
                <input class="form-control mr-sm-2" type="text" placeholder="Adresse vidéo" name="ipvideo">
                <input class="form-control mr-sm-2" type="text" placeholder="Adresse moteur" name="ipmoteur">
                <button class="btn btn-secondary my-2 my-sm-0" name="addcamera" type="submit">Ajouter une caméra</button>
            </form>
        </div>
        <div class="row" style="margin-top : 20px">
            <% if( email != undefined ){
                emailprint= email
            }else{
                emailprint=""
            }%>
            <form class="form-inline my-2 my-lg-0" action="gestion"method="POST">
                <input class="form-control mr-sm-2" type="email" name="email" value=<%= emailprint %>>
                <button class="btn btn-secondary my-2 my-sm-0" name="changeemail" type="submit">Changer l'email</button>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div id="chart" style="width:100%;">
                <label for="dateToPrint" style="margin-top: 30px; margin-left : 10%">Date (exemple : March 3, 2012) : </label>
                <input id="dateToPrint" name="dateToPrint" type="email" placeholder="Date" required autofocus>
                <svg width="100%" height="600" viewBox ="0 0 600 600">
                </svg>
            </div>
        </div>
    </div>
</div>


</body>
</html>
<script type="text/javascript" src="jquery/dist/jquery.js"></script>
<script type="text/javascript" src="gestionIp.js"></script>
<script type="text/javascript" src="bootstrap/dist/js/bootstrap.js"></script>
<script>
    var wi = $("svg").width();
    d3.select("#dateToPrint").on("input", function(){
        var mydate = new Date(this.value);
        if(mydate != "Invalid Date"){
            drawScheduler(mydate.getWeek() + "" + mydate.getFullYear());
            setInterval(drawScheduler(mydate.getWeek() + "" + mydate.getFullYear()), 4000);
        }
    });

    /**
     * Returns the week number for this date.  dowOffset is the day of week the week
     * "starts" on for your locale - it can be from 0 to 6. If dowOffset is 1 (Monday),
     * the week returned is the ISO 8601 week number.
     * @param int dowOffset
     * @return int
     */
    Date.prototype.getWeek = function (dowOffset) {
    /*getWeek() was developed by Nick Baicoianu at MeanFreePath: http://www.meanfreepath.com */
        dowOffset = typeof(dowOffset) == 'int' ? dowOffset : 0; //default dowOffset to zero
        var newYear = new Date(this.getFullYear(),0,4);
        var day = newYear.getDay() - dowOffset; //the day of week the year begins on
        day = (day >= 0 ? day : day + 7);
        var daynum = Math.floor((this.getTime() - newYear.getTime() - 
        (this.getTimezoneOffset()-newYear.getTimezoneOffset())*60000)/86400000) + 1;
        var weeknum;
        //if the year starts before the middle of a week
        if(day < 4) {
            weeknum = Math.floor((daynum+day-1)/7) + 1;
            if(weeknum > 52) {
                nYear = new Date(this.getFullYear() + 1,0,1);
                nday = nYear.getDay() - dowOffset;
                nday = nday >= 0 ? nday : nday + 7;
                /*if the next year starts before the middle of
                the week, it is week #1 of that year*/
                weeknum = nday < 4 ? 1 : 53;
            }
        }
        else {
            weeknum = Math.floor((daynum+day-1)/7);
        }
        return weeknum;
    };

 /**
 * Created by jmuyskens on 2/9/14.
 * Modified by Mickael for Cherry on 10/12/17.
 */
 console.log(wi);
      var margin = {top:20, right: 10, bottom: 10, left: 50},
          height = 600 - margin.top - margin.bottom,
          height = 600 - margin.top - margin.bottom,
          width  = wi - margin.left - margin.right;

      var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
      
      var hours = ['08:00 AM','08:30 AM','09:00 AM','09:30 AM','10:00 AM','10:30 AM','11:00 AM','11:30 AM','12:00 PM','12:30 PM',
                   '01:00 PM','01:30 PM','02:00 PM','02:30 PM','03:00 PM','03:30 PM','04:00 PM','04:30 PM','05:00 PM','05:30 PM','06:00 PM',
                   '06:30 PM','07:00 PM','07:30 PM','08:00 PM','08:30 PM','09:00 PM','09:30 PM'];

      var hourScaleRangeBand = height / hours.length;

      var week = [];
      var format = d3.time.format("%I:%M %p");

      var d3datehours = hours.map(format.parse);

      days.forEach(function(day){
        var hourObj = {};
        hours.forEach(function(hour){
          hourObj[hour] = {
            occupied: false,
            course: ''
          };
        });
        week.push(hourObj.day = day);
      });

      var dayScale = d3.scale.ordinal()
      .domain(days)
      .rangeRoundBands([0, width], 0.01);

      var hourScale = d3.time.scale()
      .domain([d3datehours[0],d3datehours[27]])
      .rangeRound([0, height]);

      svg = d3.select('body').select('svg')
        .attr('height', height + margin.top + margin.bottom)
        .attr('width', width + margin.right + margin.left)
        .append('g')
        .attr('transform','translate(' + margin.left + ',' + margin.top + ')');


      function makeHourAxis() {
        return d3.svg.axis()
          .scale(hourScale)
          .orient('left')
      }

      function makeDayAxis() {
        return d3.svg.axis()
          .scale(dayScale)
          .orient('top')
      }

    var tooltip = d3.select('#chart').append('div')
      .attr('class', 'my_hidden my_tooltip');

    var sections = "";

    var today = new Date();
    drawScheduler(today.getWeek() + "" + today.getFullYear());
    
    function clean(data){
        var arr1 = Object.keys(data);
        var ret = [];
        for(var k in arr1){
            var el1 = arr1[k];
            var detections = data[el1].detections;
            var data_tmp = detections.connues;
            var tmp = [];
            for(var i = 0; i < detections.inconnues.length; i++){
                tmp.push({"name": "Stranger", "date": detections.inconnues[i].date});
            }
            data_tmp = data_tmp.concat(tmp);
            ret = ret.concat(data_tmp);
        }
        return ret;
    }

    function agreg(data){
        for(var k = 0; k < data.length; k++){
            var tmp = new Set();
            tmp.add(data[k].name);
            data[k].name = tmp;
            data[k].threat = 0.0;
        }
        for(var k = 0; k < data.length; k++){
            for(var i = 0; i < data.length; i++){
                for(var j = 0; j < data.length; j++){
                    if(i != j){
                        var d1 = new Date(data[i].date);
                        var d2 = new Date(data[j].date);
                        //Heures égales à 10mn près
                        if(date_equal(d1, d2) && approx_time_equal(d1, d2, 10)){
                            //Merge de sets
                            for(var se of data[j].name){
                                data[i].name.add(se);                  
                            }
                            data.splice(j, 1);
                            break;
                        }
                    }
                }
            }
        }
        return data;
    }

    function update_threat(data){
        for(var i = 0; i < data.length; i++){
            for(var se of data[i].name){
                if(se == "Stranger"){
                    data[i].threat -= 1;
                }
                else{
                    data[i].threat += 1;
                }
            }
        }

        return data;
    }

    function date_equal(d1, d2){
        if(d1.getFullYear() == d2.getFullYear() && d1.getMonth() == d2.getMonth() && d1.getDay() == d2.getDay()){
            return true;
        }
        return false;
    }

    function approx_time_equal(d1, d2, approx){
        var h1 = d1.getHours();
        var h2 = d2.getHours();
        var mn1 = d1.getMinutes();
        var mn2 = d2.getMinutes();
        if(h1 == h2 && Math.abs(mn1 - mn2) <= approx){
            return true;
        }
        return false;
    }

    function updateTime(data){
        for(var i = 0; i < data.length; i++){
            var datetmp = new Date(data[i].date);
            var indic = " AM";
            if(datetmp.getHours() >= 12){
                indic = " PM";
            }
            data[i].time = datetmp.getHours() + ":" + datetmp.getMinutes() + indic;
            var t = datetmp.getMinutes() + 10;
            data[i].end = datetmp.getHours() + ":" + t + indic;
        }
        return data;
    }

    function drawScheduler(weekNumber){
        d3.json("./saves.json", function(error, data) {
            //Traitement des données avant visualisation
            data = clean(data);
            data = agreg(data);
            data = update_threat(data);
            data = updateTime(data);

            min_threat = Infinity;
            max_threat = -Infinity;
            for(var i = 0; i < data.length; i++){
                if(data[i].threat < min_threat){
                    min_threat = data[i].threat;
                }
                if(data[i].threat > max_threat){
                    max_threat = data[i].threat;
                }
            }

            svg.selectAll("g").remove();
            svg.append('g')
                .attr('class', 'hour axis')
                .attr('transform','translate(' + width + ',0)')
                .attr('transform','translate(' + width + ',0)')
                .call(makeHourAxis().ticks(hours.length).tickSize(width, 0, 0).tickFormat(""));

            svg.append('g')
                .attr('class', 'hour axis')
                .call(makeHourAxis());


            svg.append('g')
                .attr('class', 'day axis')
                .attr('transform', 'translate(' + (dayScale.rangeBand() / 2) + ',' + height + ')')
                .call(makeDayAxis().tickSize(height, 0, 0).tickFormat(""));

            svg.append('g')
                .attr('class', 'day axis')
                .call(makeDayAxis().tickSize(0));

            var courseGroups = svg.selectAll('g.course')
            .data(data)
            .enter().append('g')
            .attr('class', 'course')
            .attr('transform', function(d) {
                return 'translate(' + 0 + ',' + hourScale(format.parse(d.time)) + ')';
            })
            .attr("fill", function(d){
                var color = d3.scale.linear().domain([min_threat, max_threat]).range(["rgb(255,0,0)", "rgb(0,255,0)"]);
                return color(d.threat);
            })
            .on("mousemove", function(d) {
                var mouse = d3.mouse(svg.node()).map(function(d) {
                return parseInt(d);
                });
                var names = "";
                for(var n of d.name){
                    names += n + ", ";
                }
                var toPrint = names + " à " + d.time;
                tooltip.classed('my_hidden', false)
                .attr('style', 'left:' + (mouse[0] + 285) +
                        'px; top:' + (mouse[1] + 250) + 'px')
                .html(toPrint);
            })
            .on('mouseout', function() {
                tooltip.classed('my_hidden', true);
            });

            courseGroups.selectAll('g.section').remove();
            sections = courseGroups.selectAll('g.section')
            .data(function(d) {
                var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                var dateTmp = new Date(d.date);
                var dayName = days[dateTmp.getDay()];
                return [{day: dayName, end: d.end, time: d.time, name: d.name, date: d.date, threat: d.threat}];
            })
            .enter().append('g')
            .attr('class','section');

            sections.append('rect')
                .attr('class','section')
                .attr('y', 0)
                .attr('x', function(d){ return dayScale(d.day); })
                .attr('width', dayScale.rangeBand())
                .attr('height', function(d) {
                    var dateTmp = new Date(d.date);
                    var tmpNumber = dateTmp.getWeek();
                    tmpNumber = tmpNumber + "" + dateTmp.getFullYear();
                    if(tmpNumber == weekNumber){
                        return hourScale(format.parse(d.end)) - hourScale(format.parse(d.time));
                    }
                    return 0;
            });

            sections.append('text')
                .style('fill', 'white')
                .attr('y', 10)
                .attr('x', function(d){ return dayScale(d.day); })
                .text(function(d){ return d.abbr; });
        });
    }

</script>
