<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cherry</title>
    <!--<link rel="stylesheet" href="bootswatch/dist/cerulean/_bootswatch.scss">
    <link rel="stylesheet" href="bootswatch/dist/cerulean/_variables.scss">-->
    <link rel="stylesheet" href="bootswatch/dist/journal/bootstrap.css">
    <!--<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.css">-->
</head>
<body class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Cherry</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Accueil<span class="sr-only">(current)</span></a>
                </li>
                <% if (name != undefined){%>
                    <li class="nav-item">
                        <a class="nav-link" href="video">Video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gestion">Gestion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="photos">Photos</a>
                    </li>
                <% } %>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/home" method="POST">
                <% if(name != undefined){ %>
                    <div style="color:white ; margin-right : 10px; "><%= name %></div>
                <% } %>
                <input class="form-control mr-sm-2" type="text" name="connect">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Se connecter</button>
            </form>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 class="display-3">Cherry</h1>
        <p>Système de vidéo-surveillance configurable, capable d'identifier les habitants de l'habitat, déclencher une alarme ou mettre
        en évidence les caractéristiques d'un cambrioleur.</p>
        <p><a class="btn btn-primary btn-lg" href="#">Adoptez le </a></p>

    </div>
</body>

<script type="text/javascript" src="jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bootstrap/dist/js/bootstrap.js"></script>
</html>