<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vidéo</title>
    <link rel="stylesheet" href="bootswatch/dist/journal/bootstrap.css">
</head>
<body class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Cherry</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="home">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="video">Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="gestion">Gestion</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="photos">Photos<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/home" method="POST">
                <% if(name != undefined){ %>
                <div style="color:white ; margin-right : 10px; "><%= name %></div>
                <% } %>
                <input class="form-control mr-sm-2" type="text" name="connect">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Se connecter</button>
            </form>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-3" id="list_devices">
            <ul class="list-group">
                <%
                _.each(ips, function(on,dev){%>
                    <a device=<%= dev %> href="#" class="list-group-item list-group-item-action">
                        <span class="badge badge-primary badge-pill"><%= _.size(on.photos) %></span>
                        <%= dev %>
                    </a><%
                })
                %>
            </ul>
        </div>
        <div class="col-md-9">
            <%
            _.each(ips, function(on,dev){%>
                <div id="dev_<%= dev %>" class="list_photos" style="display:none;"><%
                    _.each(on.photos,function(photo,key){ %>
                        <img width="30%" src="<%=photo.way %>.jpg"><%
                    });%>
                </div><%
            })
            %>
        </div>
    </div>

</body>
</html>
<script type="text/javascript" src="jquery/dist/jquery.js"></script>
<script type="text/javascript" src="photos.js"></script>
