<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vidéo</title>
    <link rel="stylesheet" href="bootswatch/dist/journal/bootstrap.css">
    <link rel="stylesheet" href="manual.css">

</head>
<body class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Cherry</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="home">Accueil</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="video">Video<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="gestion">Gestion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="photos">Photos</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/home" method="POST">
            <% if(name != undefined){ %>
                <div style="color:white ; margin-right : 10px; "><%= name %></div>
            <% } %>
            <input class="form-control mr-sm-2" type="text" name="connect">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Se connecter</button>
        </form>
    </div>
</nav>
<%
    _.each(ips, function(on,ip){
        if(on.light == true && on.ipvideo){ %>
            <div id="onevideo" class="col-md-6" device="<%= ip %>" ipmotor="<%= on.ipmotor.ip %>" style="float:left;">
                <div class="row">
                    <img src="<%= on.ipvideo %>" width="100%" height="304px">
                </div>
                <% if(on.ipmotor.ip != undefined && on.ipmotor.mode == "M" && on.light == true){ %>
                    <table class="row" style="margin-left : 35%;">
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="arrow_button">
                                    <a id="moveLeft" href="javascript:void(0)" class="fill_div">&#8634</a>
                                </div>
                            </td>
                            <td>
                                <div class="arrow_button">
                                    <a id="moveRight" href="javascript:void(0)"  class="fill_div">&#8635</a>
                                </div>
                            </td>
                            <!--<td>
                                <div class="arrow_button">
                                    <a href="javascript:void(0)" onclick="mod()" class="fill_div">&#9675</a>
                                </div>
                            </td>-->
                    </table>
                <% } %>
            </div>
        <% }
    })
%>

</body>
</html>
<script type="text/javascript" src="jquery/dist/jquery.js"></script>
<script type="text/javascript" src="video.js"></script>